<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/HTD/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="HTD" />
      <add key="ClearTextPassword" value="993f8c4ac54d5896e2d6d02e3bc76cb6161b0b2a" />
    </github>
  </packageSourceCredentials>
</configuration>